/*
div { 
    border: 1px solid; 
    border-color: yellow; 
}

*/
body { 
    margin: 0px;
    width: 100%; 
    background-color: #fcfbf9;
    min-width: 1110px; 
}

#header { 
    margin: 0px;
    margin-top: -15px;
    width: 100%; height: 625px;
    background: #77448e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #77448e , #5548a5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #77448e, #5548a5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #77448e, #5548a5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #77448e , #5548a5); /* Standard syntax */
}

#centered-content { 
    width: 999px;
    position:relative;
    margin: 0 auto;
}

#header-links { 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px; 
}

ul { 
    list-style-type: none;
    text-decoration: none; 
    width: 100%; 
    position: relative;
    display: inline-block;
    
}

ul li { 
    display: inline-block; 
    padding: 10px; 
    top: 20px;
    
}

ul a { 
    text-decoration: none;
    color:  #fcfbf9;
}

#intro-container { 
    position: absolute;
    width: 45%; 
    float: left;
    display: inline-block;
    height: 500px; 
    padding-left: 10px; 
}

#intro { 
    position: absolute; 
    top 50%; 
    bottom: 50%; 
    padding: 10px;  
    left: 45px;
    color: #fcfbf9;
    font-family: 'Montserrat';
}

#intro h1 { 
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
}

#intro h3 { 
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    font-style: oblique;
}

#intro #view-links { 
    display: block;
    position: absolute; 
    padding-top: 20px; 
}
#intro a {
    border: 1px solid; 
    border-color: #fcfbf9;
    border-radius: 5px;
    padding: 8px;
    text-decoration-line: none;
    color: #fcfbf9;
}

#intro a:hover {
    border: 1px solid; 
    border-color: #fcfbf9;
    border-radius: 5px;
    padding: 8px;
    text-decoration-line: none;
    color: #8b9292;
    background: #e9e8e8; 
}

#header-images { 
    position: relative; 
    display: inline-block; 
    width: 55%; 
    float: right;
    height: 500px; 
}

#header-images img { 
    float: right; 
}

#middle-content { 
    width: 100%; 
    height: 400px;
    background-color: #e9e8e8;
    
}

#middle-container { 
    width: 999px;
    position:relative;
    margin: 0 auto;
}

#mid1 { 
    position: relative; 
    display: inline-block;
    float: left;
    height: 400px; width: 330px;
}